{% extends "question/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "question/add_question/my.css" %}">
    <form class="add_question" method="POST">
        {% csrf_token %}
        <h1>Новый вопрос</h1>

        {% ifequal request.method "POST" %}
                    {% for error in form.errors %}
                        {% ifnotequal error "__all__" %}
                            <div class="alert alert-primary" role="alert">
                                Некорректный {{ error }}
                            </div>
                        {% endifnotequal %}
                    {% endfor %}
                {% endifequal %}

        <div class="in">
            <div class="row">
                <div class="col-xs-6 col-md-2">
                    <b>Название</b>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <input class="form-control mr-sm-2" type="text" placeholder="Введите название" aria-label="Search" {{ form.title }}
                </div>
            </div>
        </div>

        <div class="in">
            <div class="row">
                <div class="col-xs-6 col-md-2">
                    <b>Текст</b>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <textarea class="form-control" rows="9" placeholder="Ваш текст" {{ form.text }}</textarea>
                </div>
            </div>
        </div>

        <div class="in">
            <div class="row">
                <div class="col-xs-6 col-md-2">
                    <b>Теги</b>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <input class="form-control mr-sm-2" type="text" placeholder="Введите список тегов"
                           aria-label="Search" {{ form.m_tag }}
                </div>
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Задать вопрос</button>

    </form>

{% endblock %}






